Set   i         s

Set is collection of unordered set of elements.It does not allows the duplicate values

In [1]:
set1={}
type(set1)# By default it is dictionary

dict

Inorder to create the set the set() method is used

In [2]:
set1=set()
type(set1) #the empty set

set

Adding elements in the set:       

add() is used to add the elements

In [3]:
set1.add(1)#It adds new element
print(set1)

{1}

Updating the elements in sets:

In [4]:
set1={6,7,8,9,10}
print(set1)
set2={1,2,3,4,5}
set1.update(set2)#set2 elements are added to the set1
print(set1)

{6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Removing elements

In [6]:
#pop() is used to pop the any random element in the set
print(set1.pop())# It returns the element which is removed
print(set1)

2
{3, 4, 5, 6, 7, 8, 9, 10}

remove()--> It removes the element which is mentioned if not it displays the error message

In [10]:
print(set1.remove(10))#It returns the None
print(set1.remove(2))#It displays the error message it doesn't present in the set

None

KeyError: ignored

In [12]:
print(set1)
set1.discard(4)# it works same as remove method but doesn't display the error message
print(set1)

{4, 5, 7, 8}
{5, 7, 8}

In [16]:
set1.clear()#It removes all the elements in the set
set1

set()

In [21]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
set1.union(set2)#It performs union opertion on both the sets

{1, 2, 3, 4, 5, 6, 7}

In [23]:
set1.intersection(set2)
print(set1)

{1, 2, 3, 4, 5}

In [24]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
set1.intersection_update(set2)#It update the set1 value with intersection result
print(set1)

{3, 4, 5}

In [14]:
set1={1,2,3,4,5,6}
set2={3,4,5,6,7,8}
print(set1.difference(set2))
print(set1.difference_update(set2))
print(set1)

{1, 2}
None
{1, 2}

In [25]:
set1={1,2,3,4,5,6}
set2={3,4,5,6,7,8}
print(set1.symmetric_difference(set2))
print(set1.symmetric_difference_update(set2))
print(set1)

{1, 2, 7, 8}
None
{1, 2, 7, 8}

In [26]:
set3=set2.copy()
print(set3)
print(set2)

{3, 4, 5, 6, 7, 8}
{3, 4, 5, 6, 7, 8}

In [15]:
set1.isdisjoint(set2)

True

In [27]:
set1={1,2,3,4}
set2={1,2,3,4,5,6,7,8}
set1.issuperset(set2)

False

In [28]:
set1.issubset(set2)

True